/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #000;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

/*nav bar*/
.main-nav {
	width: 100%;
	background-color: black;
	z-index: 2;
}

.main-nav a {
	color: white;
}

.main-nav li {
	color: white;
	display: inline;
	padding: 15px;
}

.main-nav ul {
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
    height: auto;
	white-space: nowrap;
}

.main-mobile-nav {
	display: none;
}

@media screen and (max-width: 750px) {
	.main-nav {
		display: none;
	}

	.main-mobile-nav {
		display: block;
	}
}

/* =========================================================================
                                 Video Section
   =======================================================================*/

video {
   width: 100%;
   height: auto;
   max-height: 100%;
}
/*.player {
    margin: auto;
    padding: 10px;
    width: 90%;
    max-width: 900px;
    min-width: 320px;
}
.mediaplayer {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 56.25%;
}
.mediaplayer video, .mediaplayer .polyfill-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}*/
/* =========================================================================
                                 Random
   =======================================================================*/

.demo-1 .large-header {
	background-image: url('../img/demo-1-bg.jpg');
}

.demo-2 .large-header {
	background-image: url('../img/demo-2-bg.jpg');
	background-position: center bottom;
}

.demo-3a .large-header {
	background-image: #000;
}

.demo-4 .large-header {
	background: #f9f1e9;
}

.main-title {
	position: absolute;
	margin-top: 1em;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
.main-title > img {
	width: 8em;
}
.main-title > p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
}
.main-title > p img {
	height: 30px;
}

.demo-1 .main-title,
.demo-3a .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.demo-2 .main-title {
	font-family: 'Clicker Script', cursive;
	font-weight: normal;
	font-size: 8em;
	padding-left: 10px;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.demo-2 .main-title::before {
	content: '';
	width: 20vw;
	height: 20vw;
	min-width: 3.5em;
	min-height: 3.5em;
	background: url(../img/deco.svg) no-repeat center center;
	background-size: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	z-index: -1;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.demo-3a .main-title {
	padding: 10px 40px;
	border: none;
	text-transform: uppercase;
	font-family: Londrina Outline, sans-serif;
}

.demo-4 .main-title {
	font-size: 6em;
	font-weight: 300;
	padding: 10px 30px;
	text-transform: uppercase;
	color: #222;
}

.main-title .thin {
	font-weight: 200;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title,
	.demo-3a .main-title,
	.demo-4 .main-title {
		font-size: 3em;
	}

	.demo-2 .main-title {
		font-size: 4em;
	}

	.main-title > p {
		font-size: 16px;
	}

	.main-title > img {
		padding: 0 10%;
	}

	.main-title > p img {
		height: 20px;
	}
}
